---
layout: normal.hbs
---

<h1>Heading 1</h1>

<h2>Heading 2</h2>

<h3>Heading 3</h3> 

<h4> Heading 4</h4>

<h5>Heading 5</h5>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi aspernatur similique at voluptatibus temporibus suscipit excepturi a, animi saepe dolorem vitae perferendis non iste quisquam recusandae, rerum ut, necessitatibus sint?</p>

<ul>
	
	{{#each collections.experiment}}
		<li>
			<a href={{this.url}}>
				{{#if this.data.title}} 
					{{ this.data.title }}
				{{else}}
					{{this.url}}
				{{/if}}
			</a>
				{{ formatDate this.date }}
	{{/each}}

</ul>