extends ../layouts/normal.pug 

block content

	//- img(src='/images/01-circles.jpg')

	div.gallery
		each item in collections.show 
			div.gallery-item 
				a(href=item.url).gallery-link
					.gallery-img-wrap
						img(src=`images/${item.data.img}` alt=item.data.title).gallery-img 
						div.gallery-title
							span.gallery-title-text=item.data.title

	table.main
		tr 
			th title 
			th date started 
			th tags 
		each exp in collections.experiment
			tr
				td
					a(href=exp.url)=exp.data.title
				td
					span  !{filters.formatDate(exp.date)}
				td
					div.taglist 
						each tag in exp.data.tags 
							span=tag